@import url(./code.css);

/* Neo둥근모 Code */
@import url('https://cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@latest/neodgm_code/style.css');
/* Neo둥근모 Pro */
@font-face {
  font-family: 'NeoDunggeunmo Pro';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url('/fonts/neodgm_pro/neodgm_pro.woff2') format('woff2'),
    url('/fonts/neodgm_pro/neodgm_pro.woff') format('woff'),
    url('/fonts/neodgm_pro/neodgm_pro.ttf') format('truetype');
}

/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

img {
  max-width: 100%;
}

:root {
  --font-monospace: 'NeoDunggeunmo Code', consolas, monospace;
  --font-sans-serif: 'NeoDunggeunmo Pro', system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

strong {
  font-weight: normal;
  text-decoration: underline;
}

html {
  text-underline-offset: 3px;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h1 {
  font-family: Galmuri9, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: 30px;
}

h2 {
  font-family: Galmuri11, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: 24px;
}

h3 {
  font-family: Galmuri9, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: 20px;
}

h4 {
  font-family: Galmuri7, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
}
