@use '@/styles/colors' as c;

.heading {
  color: c.$text;
  font-size: 40px;
  text-align: center;
}

.navLinks {
  display: flex;
  list-style: none;
  padding-left: 0;
  align-items: center;
}

.container {
  margin: auto;
  max-width: 700px;

  margin-top: 5rem;
}

.themeToggle {
  all: unset;
  &:hover {
    text-decoration: underline;
  }
  cursor: pointer;
  user-select: none;

  &::selection {
    outline: aqua;
  }
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: c.$bg;
  width: 100%;
  z-index: 50;
  justify-content: center;
  border-bottom: 1px dotted c.$text;
}

.navBar {
  width: 700px;
}

.logo {
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0%);
  }
}

.bar {
  // height: 1px;
  border: 0;
  border-top: 1px dotted c.$text;
  // background-color: c.$mute;
  flex-grow: 1;
}
.meta {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}
.date {
  flex-shrink: 0;
  flex-grow: 0;
  color: c.$mute;
  margin-inline: 0.3rem;
}

.copyright {
  margin-block: 0;
  width: max-content;
  color: c.$mute;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-block: 3rem;
  width: 700px;
  margin-inline: auto;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: end;
  fill: c.$mute;
}
