@use '@/styles/colors' as c;

.article {
  display: flex;
  flex-direction: column;
  border: 2px solid c.$text;
  padding: 1rem;
  margin-block: 0.4rem;
}

.title {
  margin-block: 0;
}

.meta {
  display: flex;
  align-items: baseline;
}

.date {
  margin-block: 0;
  margin-left: 0.5rem;
}

.desc {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  color: c.$mute;
}
