@use '@/styles/colors' as c;

.link {
  color: c.$text;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.activeLink {
  text-decoration: underline;
}

.navLinkItem {
  margin-right: 2rem;
}
