@use '@/styles/colors' as c;

.content {
  a {
    color: c.$primary;
  }

  p {
    line-height: 20px;
  }
  @for $i from 1 through 6 {
    h#{$i} {
      scroll-margin-top: 3rem;
    }
  }
  blockquote {
    background-color: c.$sec-bg;
    margin-inline: 0;
    padding: 1rem;
    padding-left: 1rem;
    border-left: 0.3rem solid c.$mute;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}

// #7BA638
// #E0333E
// #F5365A
.title {
  margin-block: 0;
}

.tags {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  border: 2px solid c.$text;
  // margin-inline: 0.3rem;
  padding: 0.07rem 0.2rem;

  margin-block: 2rem;
}

.bar {
  // height: 1px;
  border: 0;
  border-top: 1px dotted c.$text;
  // background-color: c.$mute;
  flex-grow: 1;
}
