@use '@/styles/colors' as c;

.content {
  a {
    color: c.$primary;
  }

  p {
    line-height: 16px;
  }
  // @for $i from 1 through 6 {
  //   h#{$i} {
  //     // &::before {
  //     //   content: '#';
  //     //   position: absolute;
  //     //   translate: -1em 0;
  //     //   color: c.$mute;
  //     // }
  //   }
  // }
  blockquote {
    background-color: c.$sec-bg;
    margin-inline: 0;
    padding: 1rem;
    padding-left: 1rem;
    border-left: 0.3rem solid c.$mute;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}

// #7BA638
// #E0333E
// #F5365A
.title {
  margin-block: 0;
}

.meta {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.tags {
  flex-shrink: 0;
  flex-grow: 0;
}

.tag {
  display: inline-block;
  border: 2px solid c.$text;
  margin-inline: 0.3rem;
  padding: 0.07rem 0.2rem;
}

.bar {
  // height: 1px;
  background-color: c.$mute;
  flex-grow: 1;
}

.date {
  flex-shrink: 0;
  flex-grow: 0;
  margin-inline: 0.3rem;
}
